/* Header */
header {
  font-family: arial, sans-serif;
  color: #222;
  text-align: right;
  font-size: 13px;
  padding: 10px;
  margin: 0;

}

  /* div .header*/
  .header {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    line-height: 28px;

  }

  .cta {
    margin-top: 0px !important;
  }

  /* Image carrés */
  img#option{
    height: 20px;
    width: 20px;

  }

/* Contenu CENTRER - Logo + formulaire (input & button) */
.logoform {
  padding-top: 55px;
  padding-bottom: 100px;
  margin-top: 89px;


}

  .logo {
    height: 92px;
    width: 272px;

  }

  .input {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #c6c6c6;
    color: #222;
    height: 38px;
    width: 559px;
    line-height: 27px;

  }

  .btn {
    line-height: 27px;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;

  }



/* Footer */
footer {
    width: 100%;
    position: fixed;
    left:0px;
    bottom:0px;
    background-color: #f2f2f2;
    margin-left: 0px;
    color: rgba(0, 0, 0, .54);
    text-align: left;

}

footer a {
    color: rgba(0, 0, 0, .54);

}

footer a:hover {
    color: rgba(0, 0, 0, .54);
}

.france {
    display: block;
    border-top: 1px solid #E4E4E4;
    font-size: 15px;
    padding-top: 10px;
    margin-left: 40px !important;

}


#nav_footer {
    float: left;
    left: 0px;
    border-top: 5px;

}
#nav_footer1 li {

    display: inline-block;
    left: 0px;
    margin-right: 2.5em;
    margin-top: 16px;


}

#nav_footer2 li {

    display: inline-block;
    left: 0px;
    margin-left: 3.5em;
    margin-top: 16px;

}

.conditions {

    border-top: 1px solid #E4E4E4;
    margin-left: 0px;
    font-size: 13px;
    margin-top: 12px;
    color: #bebbbd;


}
